*{
    margin: 0;
    padding: 0;
    font-family: 'Video Pro', 'Roboto', sans-serif;
}

:root {
    --spacing-1: .5rem;
    --spacing-2: .75rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
  
    --border-radius: 7.5rem;
  
    --font-color: #323232;
  }

body {
  margin: 0;
  padding: 0 var(--spacing-3);
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: none;
  }


h2 {
    font-size: 2rem;
}

p {
    letter-spacing: .5;
    text-indent: 2rem;

}

.button {
  background-color: #75AcF5;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #a8a8a8 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: var(--spacing-1) 0;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}


.container {
    width: 50%;
    
}


 /* header */


 nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
 }

 #logo img{
    width: 300px;
    flex-shrink: 0;
 }
    

 .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
 }

 .navigation-item {
    margin: var(--spacing-1);
  }

 nav a {
        text-decoration: none;
        color: black;
 }

/* Banner 1 */ 
#first-banner {
    display: flex;
    height: 450px;
    border-bottom: solid 1px lightgrey;
    
}



#right-box img {
    float: right;
    width: 300px;
    border-radius: 30px;
    flex-shrink: 0;
    margin-left: var(--spacing-4);
    
}



/* Banner 2 */ 
#second-banner {
    display: flex;
    height: auto;
    margin-top: var(--spacing-4);
}

#projects-container ul {
    list-style-type: none;
}

.icon {
    display: inline-block;
}


.icon img {
    height: auto;
    width: 50px;
}


/* footer */ 

footer {

margin-top: auto;
padding: var(--spacing-2) 0;
text-align: center;

}