* {
    margin: 0;
    padding: 0;
    font-family: 'Video', 'Roboto', sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
}

:root {
    --spacing-1: .5rem;
    --spacing-2: .75rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;

    --border-radius: 7.5rem;

    --font-color: #323232;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: none;
    background-color: #dbdbdb;
    overflow: auto;
    height: 100%;
}




#page-container {
    position: relative;
    min-height: 100%;
}

h2 {
    font-size: 2rem;
}

p {
    letter-spacing: .5;
    text-indent: 2rem;
    font-family: "roboto";
}

span {
    letter-spacing: .5;
    font-family: "roboto";
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



.banner {
    display: flex;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    padding: var(--spacing-4);
}



.container {
    width: 50%;
    height: 100%;

}

.project {
    cursor: pointer;
}

/* header */
header {
    width: 100%;
    background-color: #282828;

}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-3);
    margin: auto;
    min-width: 600px;
    max-width: 1200px;
}

#logo img {
    width: 300px;
    flex-shrink: 0;
}


.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: var(--spacing-1);
}

nav a {
    text-decoration: none;
    color: white;
}





/* Banner 1 */

#left-box {
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-right: -2rem;
    padding: 2rem;
}


#paragraph1 {
    width: 90%;
    font-size: 18px;
}

#pic-container {
    display: flex;
    justify-content: center;
}


#right-box img {
    width: 100%;
    border-radius: 10px;
    flex-shrink: 0;

}





/* Banner 2 */


#banner2 {
    align-items: flex-start !important;
    height: auto;
}

#projects-container {
    display: block;
    border-right: 1px solid #E8E9E8;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}

#tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: left;
    margin-top: var(--spacing-3);
}



.project-tile {
    width: 45%;
    margin: 0 var(--spacing-3) var(--spacing-3) 0;
    border: 1px solid #dbdbdb;
    height: 40%;
    transition-property: all;
    transition-duration: 0.40s;
    transition-timing-function: ease-in-out;
    
}

.project-tile a:visited {
    color: black;
    text-decoration: none;
}

.project-tile:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.tile-pic {
    max-width: 100%;
    object-fit: contain;
    display: block;
    border-bottom: 1px solid #dbdbdb;
}


.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--spacing-2) var(--spacing-3);
    background-color: #E8E9E8;
    


}

/* right box */
#skills-container {
    padding-left: var(--spacing-3);
    width: 50%;
    padding: 2rem;
}

#icon-container {
    margin-top: var(--spacing-3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.icon {
    display: inline-block;

}



.icon img {
    height: auto;
    width: 100px;
    margin: 0 var(--spacing-3) var(--spacing-3) 0;

}


/* footer */
footer {
    background-color: #282828;
    width: 100%;
    height: 6rem;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: relative;
    display: flex;
    bottom: 0;
}

#copyright {

    color: white;
    font-size: 12px;

}


/* Contact Page */ 

#white-container {
    background-color: white;
    display: block;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    align-items:flex-start;
    padding: var(--spacing-4);
    height: 80vh;
}

#contact-icons {
    margin-top: var(--spacing-3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.contact-icon img {
    height: auto;
    width: 50px;
    margin: 0 var(--spacing-3) var(--spacing-3) 0;

}

#contact h1 {
    font-size: 3rem;
    margin-left: -2px;
}

#contact span {
    font-size: 1.2rem;
}

#email img {
    width: 70px;
}